Source: picaster
Section: x11
Priority: optional
Maintainer: Yannick Mauray <yannick.mauray@gmail.com>
Build-Depends: debhelper (>=9),dh-autoreconf,autotools-dev,libasound2-dev,libjack-dev,qtbase5-dev,qtdeclarative5-dev,libqt5webkit5-dev,libsqlite3-dev,qt5-default,qttools5-dev-tools,libtag1-dev,libavcodec-dev,libavformat-dev,libavresample-dev,libswresample-dev

Package: picaster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},jackd
Description: podcast recording and streaming application.
 PiCaster is a podcast recording and streaming application,
 easy to use for beginners, but with enough functionality
 to suit the needs of intermediate or experienced podcasters.

